* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 930px;
  height: 515px;
  background-color: white;
  border-radius: 20px;
  background-image: url(/images/bg-pattern-desktop.svg), url(/images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -550px, -60px;
  background-position-y: -300px, 63px;
}

body .container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .image-container img {
  position: relative;
  right: 75px;
  top: 30px;
  height: 150px;
}

body .container .container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 425px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .container-content .flexbox-item {
  width: 354px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e7e7e9;
}

body .container .container-content .flexbox-item:nth-child(1) {
  padding-bottom: 30px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: white;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 13px;
  color: #4a4b5e;
}

.collapsible img {
  float: right;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  color: #1d1e35;
  font-weight: 700;
}

.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.collapsible:hover {
  color: #f47c57;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding-top: 10px;
  display: none;
  overflow: hidden;
  color: #787887;
}
/*# sourceMappingURL=styles.css.map */